@import 'common';
    body {
        background-color: #f8f8f8;
    }
    
    .user {
        .top-banner {
            height: 190px;
            background: url("../images/usercenter/bg_banner.png") center no-repeat;
            background-size: 100%;
            overflow: hidden;
            position: relative;
        }
        .wrapInfo {
            text-align: center;
            margin: 30px auto;
        }
        img {
            width: 83px;
            height: 83px;
        }
        .btn_config {
            width: 104px;
            height: 33px;
            text-align: center;
            font-size: 13px;
            background: transparent;
            outline: none;
            display: block;
            margin: 16px auto 0;
            color: #fff;
            border-radius: 5px;
            border: 1px solid #f1f1f1;
            letter-spacing: 1px;
            line-height: 2.7;
        }
        .username {
            display: block;
            margin-top: 6px;
            margin-bottom: 0;
            font-size: 16px;
            color: #fff;
        }
        .enterpriseName {
            color: #fff;
            width: 260px;
            font-size: 12px;
            text-align: center;
            margin: 6px auto;
        }
        .myOrder {
            background-color: #fff;
            width: 100%;
            .all {
                border-bottom: 1px solid #ebebeb;
            }
            a {
                padding: 10px;
                display: block;
                font-size: 15px;
                color: #666;
                transition: all .218s;
                display: block;
                position: relative;
                span {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    display: block;
                    background-image: url(../images/icon_next_back.png);
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 8px auto;
                    width: 8px;
                    height: 100%;
                }
                &:active {
                    background-color: #f8f8f8;
                }
            }
            .four {
                width: 100%;
                text-align: center;
                overflow: hidden;
                ul {
                    display: flex;
                    li {
                        flex: 1;
                        a {
                            padding: 12px 0;
                            font-size: 14px;
                            color: #333;
                            position: relative;
                            h3 {
                                color: #fe7e7a;
                                font-size: 16px;
                                padding-bottom: 4px;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                right: -1px;
                                width: 1px;
                                top: 20px;
                                bottom: 20px;
                                background-color: #ebebeb;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .into-list {
        margin-top: 6px;
        background-color: #fff;
        width: 100%;
        overflow: hidden;
        li {
            float: left;
            width: 100%;
            position: relative;
            border-bottom: 1px solid #ebebeb;
            a {
                overflow: hidden;
                padding: 10px;
                display: block;
                transition: all .218s;
                vertical-align: middle;
                i {
                    float: left;
                    width: 33px;
                    height: 30px;
                    background-repeat: no-repeat;
                    background-image: url("../images/usercenter/usercenter_icon.png");
                    background-size: 282px 33px;
                    &.address {
                        background-position: -125px -2px
                    }
                    &.kf {
                        background-position: -156px 0px
                    }
                    &.often_list {
                        background-position: -256px 0px
                    }
                    &.often_shop {
                        background-position: -226px 0px
                    }
                    &.set {
                        background-position: -192px -2px
                    }
                }
                p {
                    font-size: 14px;
                    float: left;
                    line-height: 30px;
                }
                &:active {
                    background-color: #f8f8f8;
                }
            }
            span {
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                display: block;
                background-image: url(../images/icon_next_back.png);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 6px auto;
                width: 6px;
                height: 100%;
            }
            &.notice {
                &:before {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    right: 24px;
                    top: 50%;
                    margin-top: -3px;
                    border-radius: 6px;
                    background-color: #f00;
                }
            }
        }
    }